#addPatientForm {
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#addPatientDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#patientFieldsContainer {
    width: 85%;
}

#startRecordingBtn {
    margin-top: 2vw;
    height: 5vh;
    background: #FF7895;
    color: white;
    border: none;
    font-size: 1.4vw;
    transition: background-color 0.3s ease;

    &:hover {
        background: #ef718c;
        cursor: pointer;
    }

    &:disabled {
        background-color: #c7c7c7;
        cursor: not-allowed
    }
}

input {
    box-sizing: border-box;
    width: 100%;
    height: 4vh;
    border: solid 1px rgb(40, 40, 40);
    border-radius: 7px;
    /* margin-bottom: 23px; */
    font-size: 1rem;
    padding: 2px 7px;
    font-family: 'Poppins';
}

form {
    font-size: 1.1rem;
}

.invalid {
    border: 1px solid rgb(255, 102, 135);
    box-shadow: rgba(155, 102, 135, 0.2) 0px 8px 24px;
}

.invalidInptMsg {
    height: 2rem;
    font-size: 0.8rem;

}

#recordingDiv {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.recordingHeadings {
    font-size: 1.5rem;
}

#recordingContents {
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    width: 100%;
    height: 100%;
}

#summaryInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2vw;
}

.recordingContainers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    column-gap: 10px;
    width: 100%;
    height: 100%;
}

#strokeAssesmentContainer {
    width: 100%;
    height: 100%;
}

#strokeRiskDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(16, 144, 10, 0.2);
    border: 0.5px solid #10900A;
    box-shadow: rgba(18, 144, 10, 0.25) 0px 8px 24px;
    border-radius: 500px;
    width: 17%;
    height: 23%;
    margin: 20px;
}

#strokeRiskLevel {
    font-size: 2rem;
    font-weight: bold;
}

.strokeRiskContent {
    width: 90%;
    color: #10900A;
    text-align: center;
}

#strokeAssesmentDiv {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95%;
    align-items: center;
}

#liveDataContainer {
    display: flex;
    flex-direction: row;
    column-gap: 17px;
    width: 95%;
    height: 68%;
    justify-content: space-between;
}

.liveGraph {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:100%;
    height: 90%;
}

.liveGraph canvas {
    flex: 1; 
    max-height: 19%;
    width: 100%;
}

.graphContainer {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.legendContainer {
    display: flex;
    justify-content: center; /* Center align the legends */
    gap: 20px; /* Add spacing between legend items */
    flex-wrap: wrap; /* Allow wrapping if legends don't fit in one row */
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}
  
.legend-color {
width: 20px;
height: 10px;
display: inline-block;
border-radius: 2px;
}

.labelRow {
    width: 90%;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graphIconContainer {
    background: #F5F5F5;
    border-radius: 40px
}

.graphIcon {
    font-size: 2rem;
    color: #E55D7D;
    padding: 8px;
}

.signalLabel {
    font-size: 1.5rem;
}

.chartsContainer {
    border: none;
    background-color: #F8F9FA;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.chartDiv {
    border: none;
    background-color: white;
    border-radius: 60px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#rightContent {
    width: 70%;
}

#flagsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.flagCategoryHeader {
    color: #C4396B;
    font-size: 1rem;
    margin-bottom: 2%;
}

#topEegMeasures {
    display: flex;
    flex-direction: column;
    width: 92%;
    margin: 20px 20px 0px 20px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.asymmetryTable {
    width: 50%;
}

.measureCategory {
    background: white;
    border-radius: 11px;
}

#bottomEegMeasures {
    display: flex;
    flex-direction: row;
    width: 94%;
    column-gap: 15px;
}

.bottomEegMeasure {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1.5% 0% 1.5% 4%;
}

#summaryMeasures {
    width: 86%;
    padding: 1.5% 4% 1.5% 4%;
}

#summaryMeasures td:nth-child(2) {
    text-align: right;
}

.tableHeading {
    font-size: 0.95rem;
    font-weight: bold;
}

.tableRow {
    font-size: 0.9rem;
    font-weight: normal;
}

.tableContainer {
    display: flex;
    width: 85%;
    justify-content: space-between;
}

.flagRowLabel {
    display: flex;
    align-items: flex-end;
    color: #989898;
    justify-content: flex-end;
    margin: 17px 29px 10px;
}

.flagGraph {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #827f7f;;
    height: 80%;
}

#endContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    height: 12%;
    column-gap: 15px;
}

#ecmoDurationContainer {
    width: 52%;
    height: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ecmoDuration {
    background-color: white;
    width: 93%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#ecmoDurationLabel {
    width: 60%;
    color: #989898;
    font-size: 0.8rem;
}

#daysIconContainer {
    height: 80%;
}

#daysIcon {
    padding: 12px;
    font-size: 1.6rem;
}

#ecmoDurationDays {
    width: 4%;
    FONT-SIZE: 1.4rem;
    padding-right: 4%;
}

#endSessionBtn {
    width: 50%;
    height: 100%;
    background: #FF7895;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 16px;

    &:hover {
        background: #ec6f8a;
        cursor: pointer;
    }
}

#addMoreInfoButton {
    background: none;
    text-decoration:underline;
    border: none;
    color:#E55D7D;
}

#additionalInfoDiv {
    display: none;
}

#formDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    align-items: center;
}

.additionalInput {
    height: 10vh;
}

.additionalInput::placeholder {
    position: absolute;
    top: 5px;
    left: 5px;
}

#infoBtn {
    background: none;
    border: none;
    font-size: 145%;
    color: #C4396B;
}

#patientInfo {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10px;
}

#additionalInfoPopUp {
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* When the popup is active, blur the main content */
body.modal-active #recordingDiv {
    filter: blur(5px);
    pointer-events: none; /* Prevents interaction with the background */
}

#additionalInfoContent {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 65%;
    background: white;
    height: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 35px;
}

#popupPatientInfo {
    display: flex;
    flex-direction: column;
    margin: 5%;
    overflow-y: scroll;
    width: 100%;
}

#popupHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.patientInfoRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clinicalInfoRow {
    margin-bottom: 20px;
}

#closePopUp {
    background: none;
    border: none;
    font-size: 1.75rem;
}

#recordingHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.switch-container {
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #FF7895;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
