body {
    font-family: 'Poppins';
    height: 100%;
    width: 100%;
    margin: 0;
}

button {
    font-family: 'Poppins';
    cursor: pointer;
}

h1 {
    color: #C4396B;
    font-size: 2vw;
}

table {
    border-collapse: collapse;
}

td {
    font-weight: normal;
    vertical-align: middle;
    padding: 1vw 0 0.5vw 0;
}

th {
    text-align: left;
    font-size: 1.3vw;
    font-weight: normal;
}

thead th {
    padding-bottom: 1vh;
    border-bottom: 1px solid #742B45;;
}

.contents {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

#navBarDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 191, 205,0.45);
    background-image: linear-gradient(to bottom, rgba(255, 191, 205,0.1), rgba(255, 191, 205,0.45));
    border-radius: 0px 15px 15px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: width 0.3s ease-in-out;
}

#pageContents {
    width: 100%;
    padding-left: 5%;
    margin: 0vw 5vw 0vw 3vw;
    transition: width 0.3s ease-in-out
}

/* When the screen width is 1100px or smaller */
@media (max-width: 1100px) {
    #navBarDiv {
        width: 8%; /* Shrink navbar width */
    }

    #pageContents {
        padding-left: 8%;
    }
}