#addPatientForm {
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#addPatientDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#patientFieldsContainer {
    width: 85%;
}

#startRecordingBtn {
    margin-top: 2vw;
    height: 5vh;
    background: #FF7895;
    color: white;
    border: none;
    font-size: 1.4vw;
    transition: background-color 0.3s ease;

    &:hover {
        background: #ef718c;
        cursor: pointer;
    }

    &:disabled {
        background-color: #c7c7c7;
        cursor: not-allowed
    }
}

input {
    box-sizing: border-box;
    width: 100%;
    height: 4vh;
    border: solid 1px rgb(40, 40, 40);
    border-radius: 7px;
    /* margin-bottom: 23px; */
    font-size: 1rem;
    padding: 2px 7px;
    font-family: 'Poppins';
}

form {
    font-size: 1.1rem;
}

.invalid {
    border: 1px solid rgb(255, 102, 135);
    box-shadow: rgba(155, 102, 135, 0.2) 0px 8px 24px;
}

.invalidInptMsg {
    height: 2rem;
    font-size: 0.8rem;

}

#recordingDiv {
    display: none;
}